@page "/ReservationFinder"
@using G6Assignment2.ProblemDomain

<h3>Find Reservation</h3>

<div class="page">
    <form class="form-group-reservation">

        <div class="form-group">
            <label for="reservationCode">Code:</label>
            <select name="Code" id="reservationCode" @bind="reserveCode">
                <option value="Any">Any</option>
                @foreach (Reservation reservation in reservationManager.ReservationObjects)
                {
                    <option value="@reservation.ReservationCode">@reservation.ReservationCode</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="airline">Airline:</label>
            <select name="airline" id="airline" @bind="airline">
                <option value="Any">Any</option>
                @foreach (Reservation reservation in reservationManager.ReservationObjects)
                {
                    bool airlineUsed = false;
                    //Making sure only one of a duplicate option appears in the list
                    foreach (string usedAirline in usedAirlines)
                    {
                        if (reservation.Airline == usedAirline)
                            airlineUsed = true;
                    }
                    if (airlineUsed == false)
                    {
                        <option value="@reservation.Airline">@reservation.Airline</option>
                        usedAirlines.Add(reservation.Airline);
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label for="name">Name:</label>
            <select name="name" id="name" @bind="name">
                <option value="Any">Any</option>
                @foreach (Reservation reservation in reservationManager.ReservationObjects)
                {
                    bool nameUsed = false;
                    //Making sure only one of a duplicate option appears in the list
                    foreach (string usedName in usedNames)
                    {
                        if (reservation.Name == usedName)
                            nameUsed = true;
                    }
                    if (nameUsed == false)
                    {
                        <option value="@reservation.Name">@reservation.Name</option>
                        usedNames.Add(reservation.Name);
                    }
                }
            </select>
        </div>

        <button type="button" @onclick="FindReservationsButton">Find Reservations</button>
    </form>

    <h4>Reservations</h4>
    <div class="scrollable-list">
        <table>
            <tbody>
                @foreach (Reservation reservation in matchingReservations)
                {
                    string rowClass = "";
                    if (reservation == selectedReservation)
                    {
                        rowClass = "selected-row";
                    }
                    <tr class="@rowClass" @onclick="() => SelectReservation(reservation)">
                        <td>@reservation.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <h3>Reserve</h3>
    <form class="form-group-reserve">
        <div class="form-group">
            <label for="reservationCode">Reservation Code:</label>
            <input id="reservationCode" type="text" @bind="reservationCode" readonly />
        </div>

        <div class="form-group">
            <label for="flightCode">Flight Code:</label>
            <input id="flightCode" type="text" @bind="reserveFlightCode" readonly />
        </div>

        <div class="form-group">
            <label for="airline">Airline:</label>
            <input id="airline" type="text" @bind="reserveAirline" readonly />
        </div>

        <div class="form-group">
            <label for="cost">Cost:</label>
            <input id="cost" type="text" @bind="reserveCost" readonly />
        </div>

        <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" type="text" @bind="reserveName" />
        </div>

        <div class="form-group">
            <label for="citizenship">Citizenship:</label>
            <input id="citizenship" type="text" @bind="reserveCitizenship" />
        </div>

        <div class="form-group">
            <label for="status">Status:</label>
            <select name="status" id="status" @bind="reserveStatus">
                <option value="Active">
                    Active
                </option>
                <option value="Inactive">
                    Inactive
                </option>
            </select>
        </div>

        <div class="button-container">
            <button type="button" @onclick="UpdateReservation">Save</button>
        </div>
    </form>
</div>

<style>
    h3, h4 {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .page {
        width: 100%;
        height: 100%;
    }

    .form-group-reservation {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .form-group-reservation .form-group {
        width: 25%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .form-group-reservation button {
        width: 23%;
    }

    .form-group input {
        width: 100%;
    }

    .form-group-reserve label, .form-group-reserve input {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }

    .button-container {
        text-align: center;
    }

    .scrollable-list {
        max-height: 300px;
        overflow-y: scroll;
        border: 1px solid black;
        padding: 15px;
    }

    button {
        border-radius: 4px;
        padding-left: 100px;
        padding-right: 100px;
        display: inline-block;
        background-color: blue;
        color: white;
    }

    .selected-row {
        background-color: lightblue;
    }
</style>

@code {
    private string reserveCode = "Any";
    private string airline = "Any";
    private string name = "Any";
    private ReservationManager reservationManager = new ReservationManager();
    private List<Reservation> matchingReservations = new List<Reservation>();
    private Reservation selectedReservation;
    List<string> usedAirlines = new List<string>();
    List<string> usedNames = new List<string>();
    private string reservationCode;
    private string reserveFlightCode;
    private string reserveAirline;
    private int reserveCost;
    private string reserveName;
    private string reserveCitizenship;
    private string reserveStatus;

    protected override void OnInitialized()
    {
        reservationManager.LoadReservations();
    }

    private void SelectReservation(Reservation reservation)
    {
        selectedReservation = reservation;
        reservationCode = reservation.ReservationCode;
        reserveFlightCode = reservation.FlightCode;
        reserveAirline = reservation.Airline;
        reserveCost = reservation.Cost;
        reserveName = reservation.Name;
        reserveCitizenship = reservation.Citizenship;
        if (reservation.Status)
        {
            reserveStatus = "Active";
        }
        else
        {
            reserveStatus = "Inactive";
        }
    }

    //Runs FindReservation when button is clicked
    private void FindReservationsButton()
    {
        matchingReservations = reservationManager.FindReservation(reserveCode, airline, name);
    }

    private void UpdateReservation() 
    {
        //updates the reservation to whatever the user inputs
        selectedReservation.Name = reserveName;
        selectedReservation.Citizenship = reserveCitizenship;
        if (reserveStatus == "Active")
        {
            selectedReservation.Status = true;   
        }
        if (reserveStatus == "Inactive")
        {
            selectedReservation.Status = false;
        }
        reservationManager.UpdateReservation(selectedReservation);

        //reloads the list or reservations to show the newly updated reservation
        reservationManager.LoadReservations();
        matchingReservations = reservationManager.FindReservation(selectedReservation.ReservationCode, selectedReservation.Airline, selectedReservation.Name);
    }
}
